
<div id="container">
	<table id="table_id" class="display">
		<thead>
			<tr>
				<th>amount</th>
				<th>Rimb submitted</th>
				<th>resolved</th>
				<th>description</th>
				<th>A First Name</th>
				<th>A last Name</th>
				<th>A email</th>
				<th>R First Name</th>
				<th>R last Name</th>
				<th>R email</th>
				<th>status</th>
				<th>type</th>
			</tr>
		</thead>
		<tbody>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		</tbody>
	</table>
</div>