<!-- <div align="center">
			Amount:  <span id="one_reimb_amount"></span><br>
			A First Name:  <span id="one_reimb_first"></span><br>
			A last Name: <span id="one_reimb_last"></span><br>
			A email: <span id="one_reimb_email"></span><br>
			Type: <span id="one_reimb_type"></span><br>
			Status: <button id="approved">Approved</button><br> 
			<button id="denied">Denied</button>	
</div>

 -->


<div class="container">

<table class="table table-dark">
  <tbody>
    <tr>
      <td>Amount:</td>
      <td><span id="one_reimb_amount"></span></td>
    </tr>
    <tr>
      <td>Author First Name:</td>
      <td><span id="one_reimb_first"></span></td>
    </tr>
    <tr>
      <td>Author Last Name:</td>
      <td><span id="one_reimb_last"></span></td>
    </tr>
        <tr>
      <td>Author Email:</td>
      <td><span id="one_reimb_email"></span></td>
    </tr>
    <tr>
      <td>Reimbursement Type:</td>
      <td><span id="one_reimb_type"></span></td>
    </tr>
      <tr>
      <td colspan="2"><button style="width: 100%" id="approved">Approved</button></td>
    </tr>
     <tr>
      <td colspan="2"><button style="width: 100%" id="denied">Denied</button>	</td>
    </tr>
  </tbody>
</table>
</div>
