<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project_v1</display-name>
  <servlet>
    <description></description>
    <display-name>SubmitReimb</display-name>
    <servlet-name>SubmitReimb</servlet-name>
    <servlet-class>com.revature.controller.SubmitReimb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimb</servlet-name>
    <url-pattern>/submitReimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllReimbForUser</display-name>
    <servlet-name>DisplayAllReimbForUser</servlet-name>
    <servlet-class>com.revature.controller.DisplayAllReimbForUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllReimbForUser</servlet-name>
    <url-pattern>/displayReimbByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllReimb</display-name>
    <servlet-name>DisplayAllReimb</servlet-name>
    <servlet-class>com.revature.controller.DisplayAllReimb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllReimb</servlet-name>
    <url-pattern>/displayReimbForManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approved</display-name>
    <servlet-name>Approved</servlet-name>
    <servlet-class>com.revature.controller.Approved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approved</servlet-name>
    <url-pattern>/approved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Denied</display-name>
    <servlet-name>Denied</servlet-name>
    <servlet-class>com.revature.controller.Denied</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Denied</servlet-name>
    <url-pattern>/denied</url-pattern>
  </servlet-mapping>
</web-app>